body{
                background-color:#E5CB9F;
                margin: 0%;
                padding: 0;
            }
            .container{
        max-width: 120rem;
        width: 90%;
        margin: 0 auto;
      }
      nav{
        justify-content: space-between;
        align-items: center;
        font-size: 1.5em;
        list-style-type: none;
        text-decoration: none;
         font-weight: bold;
         z-index: 1;
      }
    /* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
a{
  text-decoration: none;
}
ul li {
  list-style-type: none;
  display: inline-flex;
  margin: 2em;
}
nav .button{
        display:inline-flex;
      }
      .button{
        background-color: rgba(255, 255, 255, 0.595);
        font-size: 20px;
        width: 7em;
        color:black;
        z-index: 1;
        position: absolute;
        height: 3em;
        border-radius: 20px 20px;
        bottom: 32.2em;
        align-items: center;
        padding-right: 25px;
      }  
       
      .box{
        width: 20%;
        height: 100%;
        display: inline-flex;
        padding-left: 4em;
      }
      h1{
        font-size: 2em;
        align-items: center;
        padding-left: 1px;
        width: 5em;
        padding: 1em;
      }

      .box1{
        padding-left: 4em;
        padding: 2em;
        width: 35em;
        height: 40em;
        background-color: rgba(255, 255, 255, 0.652);
        margin: 2em;

      }
      .box2{
        padding: 2em;
        width: 25em;
        height: 40em;
        background-color: rgba(255, 255, 255, 0.652);
        margin: 2em;
      }
      .box3{
        padding: 2em;
        width: 15em;
        height: 40em;
        background-color: rgba(255, 255, 255, 0.652);
        margin: 2em;

      }
      .box4{
        padding: 2em;
        width: 15em;
        height: 40em;
        background-color: rgba(255, 255, 255, 0.652);
        margin: 2em;
      }
      p{
        width: 3em;
        font-size: 1.5em;
        padding-bottom: 2em;
      }
      